body {
    background: #2b2b2b;
    font-family: sans-serif;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    position: fixed;
    z-index: -1;
}
h1 {
    position: absolute;
    transform: translate(-50%, -230%);
    font-size: 15em;
    line-height: 30vh;
}
h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px blue;
}
h1:nth-child(2) {
    color: blue;
    animation: animate 5s  ease-in-out infinite;
}
@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 53%, 9% 49%, 20% 47%, 33% 46%, 45% 50%, 57% 56%, 69% 61%, 80% 60%, 90% 53%, 100% 49%, 100% 100%, 1% 99%);
    }
    50% {
        clip-path: polygon(0% 56%, 9% 52%, 22% 50%, 33% 51%, 44% 54%, 54% 57%, 64% 52%, 76% 49%, 88% 49%, 100% 57%, 100% 99%, 1% 99%);
    }
}

#R_ox {
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 160px;
}

#R2_ox {
    font-size: 10px;
    position: absolute;
    right: 76px;
    top: 160px;
}

#-R2_ox {
    font-size: 10px;
    position: absolute;
    left: 72px;
    top: 160px;
}

#-R_ox {
    font-size: 10px;
    position: absolute;
    left: 4px;
    top: 160px;
}

#R_oy {
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 120px;
    top: 10px;
}

#R2_oy {
    font-size: 10px;
    position: absolute;
    left: 120px;
    top: 76px;
}

#-R2_oy {
    font-size: 10px;
    position: absolute;
    left: 115px;
    bottom: 77px;
}

#-R_oy {
    font-size: 10px;
    position: absolute;
    left: 115px;
    bottom: 14px;
}

table {
    margin-top: 40px;
    align-content: center;
    background: #1a1aff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    border-color: rgb(255, 255, 255);
    overflow: scroll;
}

th {
    color: white;
    padding: 10px 25px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child {
    text-align: left;
}

select {
    width: 100px;
    display: inline;
    margin-left: 10px;
    outline: none;
    color: dimgrey;
    -moz-appearance: none;
    border-bottom: 2px solid #555;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-color: white;
    border-radius: 4px;
}

select:hover {
    cursor: pointer;
    border-color: #5e5eec;
}

select option {
    color: dimgrey;
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input {
    color: dimgrey;
    padding: 0.25em 0.5em;
    background-color: #ffffff;
    border-radius: 4px;
    border-color: rgba(2, 2, 2, 0.01);
    outline: none;
}

input[type=button] {
    border: 2px;
    outline: none;
}

#description {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: sans-serif;
}

#content {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 70px;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    color: #fff;
    border-radius: 20px;
}

#coordinates {
    font-size: 12px;
    float: right;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 50px;
}
#graph_div {
    position: relative;
    float: left;
    margin: 0;
}
#table_div {
    padding: 20px;
    margin-top: 300px;
    align-content: center;
    text-align: center;
}

#bottoms {
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}